<div class="container has-text-centered">
  <% if @kanbans.any? %>
    <div>
      <%= render 'form'%>
      <!--カラムを縦並び、2xn、3xnに変更できるようにしたい-->
      <i class="fas fa-th is-pulled-left" style="font-size: 1.25rem; margin-top: 0.75rem; margin-left: 0.25rem; margin-right: 1rem;"></i>
    </div>
    <div class="kanban-container">
      <div class="columns is-mobile is-multiline is-centered">
        <% @kanbans.each_with_index do |kanban, kanbanIndex| %>
          <div class="column is-12-touch is-6-desktop">
            <div class="card">
              <div class="card-content">
                <div class="kanban-row" style="border-bottom: 0.04rem solid #000000;" data-kanban-id="<%=kanban.id%>">
                  <span class="kanban"><%= kanban.name %></span>
                  <input type="text" class="input is-small kanban-edit" style="display: none"/>
                  <%= link_to kanban_path(kanban), remote: true, method: :delete do %>
                    <i class="far fa-times-circle is-pulled-right" style="margin-top: 0.25rem; margin-left: 0.25rem;"></i>
                  <% end %>
                  <input type="hidden" name="kanban-id" value="<%=kanban.id%>">
                </div>
                <% if kanban.tasks.any? %>
                  <div style="height: 2rem; text-align: right;">
                    <div class="control has-icons-left" style="display: inline;">
                      <div class="select is-small">
                        <select class="search-box is-pulled-right" style="">
                          <option value="">全て</option>
                          <option value="1">チェック済み</option>
                          <option value="0">未チェック</option>
                        </select>
                        <span class="icon is-left">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <% kanban.tasks.each_with_index do |task, taskIndex| %>
                    <div class="task-row dot-border-bottom" draggable="true" data-sort="<%=task.sort%>" data-task-id="<%=task.id%>">
                      <i class="fas fa-arrows-alt-v is-pulled-left" style="margin-top: 0.25rem; margin-left: 0.25rem;"></i>
                      <span class="task"><%= task.name %></span>
                      <input type="text" class="input is-small task-edit" style="display: none"/>
                      <i class="complete-flg far fa<% if task.complete_flg %>-check<%end%>-square is-pulled-right" style="margin-top: 0.25rem; margin-left: 0.25rem;"></i>
                      <input type="hidden" name="task-id" value="<%=task.id%>">
                    </div>
                  <% end %>
                <% end %>
                <div class="task-row-dummy task-row" style="padding: 0.5rem;"> </div>
                <div class="">
                  <%= render 'tasks/form', kanban: kanban %>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  <% else %>
    <div class="is-center">
      まずはかんばんを追加しましょう
      <%= render 'form'%>
    </div>
  <% end %>
</div>