<%= form_for(@user, url: yield(:to_url)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, class: 'control' %>

    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, class: 'control' %>

    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, class: 'control' %>
  </div>

  <%= f.submit "会員登録", class: "button is-primary" %>
<% end %>